// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='/dashboard') Student Database
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    ul#exampleAccordion.navbar-nav.navbar-sidenav
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='/dashboard')
          i.fa.fa-fw.fa-dashboard
          span.nav-link-text
            | Dashboard
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Statistics')
        a.nav-link(href='/statistics')
          i.fa.fa-fw.fa-pie-chart
          span.nav-link-text
            | Statistics
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Students')
        a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseComponents', data-parent='#exampleAccordion')
          i.fa.fa-fw.fa-table
          span.nav-link-text
            | Students
        ul#collapseComponents.sidenav-second-level.collapse
          li
            a(href='/students') Student List
          li
            a(href='/input-student') Input New Student
      
