doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    //script(src='https://code.highcharts.com/highcharts.js')
    //script(src='https://code.highcharts.com/modules/exporting.js')

    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript').
    
      // Load the Visualization API and the piechart package.
      google.charts.load('current', {'packages':['corechart']});
        
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
        
      function drawChart() { 
        
            
        // Create our data table out of JSON data loaded from server.
        var data1 = new google.visualization.arrayToDataTable(!{obj1});

        var options1 = {'title':'Gender Ratio of Students',
                       'width':1000,
                       'height':600};


        // Instantiate and draw our chart, passing in some options.
        var chart1 = new google.visualization.PieChart(document.getElementById('gender_chart'));
        
        //var chart1 = new google.visualization.AreaChart(document.getElementById('chart_'));
        chart1.draw(data1, options1);

                // Create our data table out of JSON data loaded from server.
        var data2 = new google.visualization.arrayToDataTable(!{obj2});

        var options2 = {'title':'Total of Students in 2014',
                       'width':1000,
                       'height':600};

        // Instantiate and draw our chart, passing in some options.
        //var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        var chart2 = new google.visualization.LineChart(document.getElementById('student_chart'));
        chart2.draw(data2, options2);
      }

    title Student Database

    include includes/css/core.pug

    include includes/css/custom.pug

  body#page-top.fixed-nav.sticky-footer.bg-dark
    include includes/navbar.pug
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/dashboard') Dashboard
          li.breadcrumb-item.active Statistics
        // Area Chart Example
        .card.mb-3
          .card-header
            i.fa.fa-pie-chart
            |  Gender Ratio
          .card-body
            #gender_chart.mt-4.items-center
        // Example Pie Chart Card
        .card.mb-3
          .card-header
            i.fa.fa-line-chart
            |  Student Chart
          .card-body
            #student_chart.mt-4.items-center
      // /.container-fluid
      // /.content-wrapper

      include includes/footer.pug

      include includes/scroll-to-top.pug

      //include includes/modals/logout.pug

      include includes/js/core.pug

      // Page level plugin JavaScript
      //script(src='sb-admin/vendor/chart.js/Chart.min.js')

      include includes/js/custom.pug

      // Custom scripts for this page
      //script(src='sb-admin/js/sb-admin-charts.min.js')
