// Bootstrap core JavaScript
script(src='sb-admin/vendor/jquery/jquery.min.js')
script(src='sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='sb-admin/vendor/jquery-easing/jquery.easing.min.js')
